<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="center.innovus.nutriassist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.SplashScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="center.innovus.nutriassist.MainActivity" />
        </activity>
        <activity android:name=".Activities.AsignarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.PorcentajesComidasActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activities.ComidasActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ComidasTabs" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ReporteActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>